@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  padding-bottom: 5rem;
  max-width: 1200px;
  margin: auto;
  background-color: var(--off-white);
}

p {
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}
img {
  max-width: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.header nav #menu-close {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 999;
}
.header nav {
  opacity: 0;
  z-index: -999;
  transition: all 0.3s ease-in-out;
}
.header nav.open {
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75vw;
  padding: 1.25rem;
  z-index: 999;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.header nav ul {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.header nav ul li {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: var(--very-dark-blue);
}
.header nav ul li a {
  color: var(--very-dark-blue);
}
.header nav ul li :hover {
  color: var(--soft-orange);
}
.header .menu-icon button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
.hero {
  padding: 1.25rem;
  padding-top: 0;
}
.hero h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin: 1rem 0;
}
.hero div:first-child article p {
  margin-bottom: 1rem;
}
.hero div:first-child article button {
  background-color: var(--soft-red);
  color: white;
  padding: 0.9rem 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.hero div:first-child article button:hover {
  background-color: var(--very-dark-blue);
}
.hero > div:last-child {
  margin-top: 2rem;
  padding: 1.25rem 1.25rem 0;
  background-color: var(--very-dark-blue);
}
.hero > div:last-child h2 {
  margin-bottom: 1rem;
  color: var(--soft-orange);
}
.hero > div:last-child h3 {
  margin-bottom: 0.5rem;
  color: white;
}
.hero > div:last-child h3:hover {
  color: var(--soft-orange);
  cursor: pointer;
}
.hero > div:last-child article:not(:last-child) {
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.hero > div:last-child article {
  padding: 1rem 0;
}
.flex-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.25rem;
  padding: 1.25rem;
}
.flex-cards article {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.flex-cards span {
  color: var(--dark-grayish-blue);
  font-size: 2rem;
  font-weight: 700;
  opacity: 75%;
}
.flex-cards article h4 {
  color: var(--very-dark-blue);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}
.flex-cards article img {
  width: 150px;
}
/***** On Desktop *****/
@media (min-width: 1024px) {
  .header {
    padding: 2rem 1.25rem;
  }
  .header .menu-icon button {
    display: none;
  }
  #menu-close {
    display: none;
  }
  .header nav {
    width: 100%;
    opacity: 1;
    z-index: auto;
  }
  .header nav.open {
    position: relative;
    width: auto;
    padding: 0;
    background-color: transparent;
    z-index: auto;
  }

  .header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    gap: 2rem;
    position: relative;
    transform: translateY(0);
  }
  .header nav ul li {
    margin: 0;
    font-size: 1.2rem;
  }
  .header nav ul li :hover {
    color: var(--soft-red);
  }
  .hero {
    display: flex;
    gap: 2rem;
  }
  .hero > div:last-child {
    margin-top: 0 !important;
  }
  .hero > div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    margin-top: 2rem;
  }
  .hero h1 {
    font-size: 3rem !important;
  }
  .flex-cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
/***** End On Desktop *****/

/***** On Tablet *****/
@media (min-width: 768px) {
  .flex-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/***** End On Tablet *****/
footer {
  margin-top: 2rem;
}
.attribution {
  font-size: 1.25rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
